In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

# from scipy import stats
from scipy.stats import norm, kurtosis, skew, normaltest
from IPython.display import display, Math, Latex

In [2]:
titanic = pd.read_csv('./../data/titanic.csv')

In [3]:
ages = titanic['Age'].dropna()
titanic.head()

,Unnamed: 0,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [7]:
ages_mean = titanic['Age'].mean()
ages_median = titanic['Age'].median()
ages_std = np.std(titanic['Age'])

## Measuring Skewness

The rule of thumb seems to be:

A skewness between -0.5 and 0.5 means that the data are pretty symmetrical
A skewness between -1 and -0.5 (negatively skewed) or between 0.5 and 1 (positively skewed) means that the data are moderately skewed.
A skewness smaller than -1 (negatively skewed) or bigger than 1 (positively skewed) means that the data are highly skewed.

In [8]:
skew(ages)

0.3882898514698657

## Measuring Kurtosis

In [9]:
kurtosis(ages)

0.16863657224286044

In [11]:
normaltest(ages)

NormaltestResult(statistic=18.105032952089758, pvalue=0.00011709599657350757)