In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
list('abcde')

['a', 'b', 'c', 'd', 'e']

In [4]:
pd.DataFrame(list('abcde'))

   0
0  a
1  b
2  c
3  d
4  e