In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [8]:
pd.get_dummies(list('abcde'), sparse=False, dtype=int)

   a  b  c  d  e
0  1  0  0  0  0
1  0  1  0  0  0
2  0  0  1  0  0
3  0  0  0  1  0
4  0  0  0  0  1

In [21]:
df1 = pd.DataFrame({'a': list('abcdbaacdde')})
df1

    a
0   a
1   b
2   c
3   d
4   b
5   a
6   a
7   c
8   d
9   d
10  e

In [22]:
pd.get_dummies(df1, sparse=True)

      a_a    a_b    a_c    a_d    a_e
0    True  False  False  False  False
1   False   True  False  False  False
2   False  False   True  False  False
3   False  False  False   True  False
4   False   True  False  False  False
5    True  False  False  False  False
6    True  False  False  False  False
7   False  False   True  False  False
8   False  False  False   True  False
9   False  False  False   True  False
10  False  False  False  False   True