In [38]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn import linear_model,  metrics, model_selection, preprocessing, datasets

In [57]:
wine_data = datasets.load_wine()
df = pd.DataFrame(data=wine_data.data, columns=wine_data.feature_names)
df['target'] = wine_data.target

In [62]:
wine = pd.read_csv("../../data/wine.csv")
wine.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality,red_wine
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5,1
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5,1
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5,1
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6,1
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5,1

In [63]:
wine.describe()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality,red_wine
count,6497.000000,6497.000000,6497.000000,6497.000000,6497.000000,6497.000000,6497.000000,6497.000000,6497.000000,6497.000000,6497.000000,6497.000000,6497.000000
mean,7.215307,0.339666,0.318633,5.443235,0.056034,30.525319,115.744574,0.994697,3.218501,0.531268,10.491801,5.818378,0.246114
std,1.296434,0.164636,0.145318,4.757804,0.035034,17.749400,56.521855,0.002999,0.160787,0.148806,1.192712,0.873255,0.430779
min,3.800000,0.080000,0.000000,0.600000,0.009000,1.000000,6.000000,0.987110,2.720000,0.220000,8.000000,3.000000,0.000000
25%,6.400000,0.230000,0.250000,1.800000,0.038000,17.000000,77.000000,0.992340,3.110000,0.430000,9.500000,5.000000,0.000000
50%,7.000000,0.290000,0.310000,3.000000,0.047000,29.000000,118.000000,0.994890,3.210000,0.510000,10.300000,6.000000,0.000000
75%,7.700000,0.400000,0.390000,8.100000,0.065000,41.000000,156.000000,0.996990,3.320000,0.600000,11.300000,6.000000,0.000000
max,15.900000,1.580000,1.660000,65.800000,0.611000,289.000000,440.000000,1.038980,4.010000,2.000000,14.900000,9.000000,1.000000

In [64]:
wine.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6497 entries, 0 to 6496
Data columns (total 13 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   fixed acidity         6497 non-null   float64
 1   volatile acidity      6497 non-null   float64
 2   citric acid           6497 non-null   float64
 3   residual sugar        6497 non-null   float64
 4   chlorides             6497 non-null   float64
 5   free sulfur dioxide   6497 non-null   float64
 6   total sulfur dioxide  6497 non-null   float64
 7   density               6497 non-null   float64
 8   pH                    6497 non-null   float64
 9   sulphates             6497 non-null   float64
 10  alcohol               6497 non-null   float64
 11  quality               6497 non-null   int64
 12  red_wine              6497 non-null   int64
dtypes: float64(11), int64(2)
memory usage: 660.0 KB

In [53]:
y = wine['target']
X = wine.drop(columns=['target'])

In [54]:
x_tran, x_test, y_train, y_test = model_selection.train_test_split(X, y, test_size=0.25, random_state=123)

In [55]:
df.shape

(178, 14)

In [49]:
x_test.shape

(45, 13)

In [4]:
sns.load_dataset("diamonds").drop(["cut", "color", "clarity"], axis=1)

       carat  depth  table  price     x     y     z
0       0.23   61.5   55.0    326  3.95  3.98  2.43
1       0.21   59.8   61.0    326  3.89  3.84  2.31
2       0.23   56.9   65.0    327  4.05  4.07  2.31
3       0.29   62.4   58.0    334  4.20  4.23  2.63
4       0.31   63.3   58.0    335  4.34  4.35  2.75
...      ...    ...    ...    ...   ...   ...   ...
53935   0.72   60.8   57.0   2757  5.75  5.76  3.50
53936   0.72   63.1   55.0   2757  5.69  5.75  3.61
53937   0.70   62.8   60.0   2757  5.66  5.68  3.56
53938   0.86   61.0   58.0   2757  6.15  6.12  3.74
53939   0.75   62.2   55.0   2757  5.83  5.87  3.64

[53940 rows x 7 columns]

In [27]:
np.random.seed(0)
data = np.random.rand(10,5)
df = pd.DataFrame(data=data, columns=list("abcde"))
df

          a         b         c         d         e
0  0.548814  0.715189  0.602763  0.544883  0.423655
1  0.645894  0.437587  0.891773  0.963663  0.383442
2  0.791725  0.528895  0.568045  0.925597  0.071036
3  0.087129  0.020218  0.832620  0.778157  0.870012
4  0.978618  0.799159  0.461479  0.780529  0.118274
5  0.639921  0.143353  0.944669  0.521848  0.414662
6  0.264556  0.774234  0.456150  0.568434  0.018790
7  0.617635  0.612096  0.616934  0.943748  0.681820
8  0.359508  0.437032  0.697631  0.060225  0.666767
9  0.670638  0.210383  0.128926  0.315428  0.363711

In [34]:
df.drop(labels=[0])

          a         b         c         d         e
1  0.645894  0.437587  0.891773  0.963663  0.383442
2  0.791725  0.528895  0.568045  0.925597  0.071036
3  0.087129  0.020218  0.832620  0.778157  0.870012
4  0.978618  0.799159  0.461479  0.780529  0.118274
5  0.639921  0.143353  0.944669  0.521848  0.414662
6  0.264556  0.774234  0.456150  0.568434  0.018790
7  0.617635  0.612096  0.616934  0.943748  0.681820
8  0.359508  0.437032  0.697631  0.060225  0.666767
9  0.670638  0.210383  0.128926  0.315428  0.363711

In [36]:
df.drop(columns=['a'])

          b         c         d         e
0  0.715189  0.602763  0.544883  0.423655
1  0.437587  0.891773  0.963663  0.383442
2  0.528895  0.568045  0.925597  0.071036
3  0.020218  0.832620  0.778157  0.870012
4  0.799159  0.461479  0.780529  0.118274
5  0.143353  0.944669  0.521848  0.414662
6  0.774234  0.456150  0.568434  0.018790
7  0.612096  0.616934  0.943748  0.681820
8  0.437032  0.697631  0.060225  0.666767
9  0.210383  0.128926  0.315428  0.363711

In [37]:
df

          a         b         c         d         e
0  0.548814  0.715189  0.602763  0.544883  0.423655
1  0.645894  0.437587  0.891773  0.963663  0.383442
2  0.791725  0.528895  0.568045  0.925597  0.071036
3  0.087129  0.020218  0.832620  0.778157  0.870012
4  0.978618  0.799159  0.461479  0.780529  0.118274
5  0.639921  0.143353  0.944669  0.521848  0.414662
6  0.264556  0.774234  0.456150  0.568434  0.018790
7  0.617635  0.612096  0.616934  0.943748  0.681820
8  0.359508  0.437032  0.697631  0.060225  0.666767
9  0.670638  0.210383  0.128926  0.315428  0.363711