In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn import metrics, datasets

In [2]:
sns.load_dataset("diamonds")

       carat        cut color clarity  depth  table  price     x     y     z
0       0.23      Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1       0.21    Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
2       0.23       Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
3       0.29    Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
4       0.31       Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75
...      ...        ...   ...     ...    ...    ...    ...   ...   ...   ...
53935   0.72      Ideal     D     SI1   60.8   57.0   2757  5.75  5.76  3.50
53936   0.72       Good     D     SI1   63.1   55.0   2757  5.69  5.75  3.61
53937   0.70  Very Good     D     SI1   62.8   60.0   2757  5.66  5.68  3.56
53938   0.86    Premium     H     SI2   61.0   58.0   2757  6.15  6.12  3.74
53939   0.75      Ideal     D     SI2   62.2   55.0   2757  5.83  5.87  3.64

[53940 rows x 10 columns]

In [200]:
# sns.load_dataset("diamonds").drop(["cut", "color", "clarity"], axis=1)

# wine_data = datasets.load_wine()
# df = pd.DataFrame(data=wine_data.data, columns=wine_data.feature_names)
# df["target"] = wine_data.target

In [3]:
wine = pd.read_csv("../../data/wine.csv")
wine.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality,red_wine
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5,1
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5,1
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5,1
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6,1
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5,1

In [4]:
wine.describe()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality,red_wine
count,6497.000000,6497.000000,6497.000000,6497.000000,6497.000000,6497.000000,6497.000000,6497.000000,6497.000000,6497.000000,6497.000000,6497.000000,6497.000000
mean,7.215307,0.339666,0.318633,5.443235,0.056034,30.525319,115.744574,0.994697,3.218501,0.531268,10.491801,5.818378,0.246114
std,1.296434,0.164636,0.145318,4.757804,0.035034,17.749400,56.521855,0.002999,0.160787,0.148806,1.192712,0.873255,0.430779
min,3.800000,0.080000,0.000000,0.600000,0.009000,1.000000,6.000000,0.987110,2.720000,0.220000,8.000000,3.000000,0.000000
25%,6.400000,0.230000,0.250000,1.800000,0.038000,17.000000,77.000000,0.992340,3.110000,0.430000,9.500000,5.000000,0.000000
50%,7.000000,0.290000,0.310000,3.000000,0.047000,29.000000,118.000000,0.994890,3.210000,0.510000,10.300000,6.000000,0.000000
75%,7.700000,0.400000,0.390000,8.100000,0.065000,41.000000,156.000000,0.996990,3.320000,0.600000,11.300000,6.000000,0.000000
max,15.900000,1.580000,1.660000,65.800000,0.611000,289.000000,440.000000,1.038980,4.010000,2.000000,14.900000,9.000000,1.000000

In [5]:
wine.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6497 entries, 0 to 6496
Data columns (total 13 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   fixed acidity         6497 non-null   float64
 1   volatile acidity      6497 non-null   float64
 2   citric acid           6497 non-null   float64
 3   residual sugar        6497 non-null   float64
 4   chlorides             6497 non-null   float64
 5   free sulfur dioxide   6497 non-null   float64
 6   total sulfur dioxide  6497 non-null   float64
 7   density               6497 non-null   float64
 8   pH                    6497 non-null   float64
 9   sulphates             6497 non-null   float64
 10  alcohol               6497 non-null   float64
 11  quality               6497 non-null   int64
 12  red_wine              6497 non-null   int64
dtypes: float64(11), int64(2)
memory usage: 660.0 KB

In [6]:
y = wine['quality']
X = wine.drop(columns=['quality'])

In [7]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.30, random_state=123)

In [8]:
wine.value_counts('quality', normalize=True)

quality
6    0.436509
5    0.329075
7    0.166077
4    0.033246
8    0.029706
3    0.004618
9    0.000770
Name: proportion, dtype: float64

In [9]:
scaler = StandardScaler().set_output(transform='pandas')
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.fit_transform(X_test)

In [10]:
X_train_scaled.describe()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,red_wine
count,4.547000e+03,4.547000e+03,4.547000e+03,4.547000e+03,4.547000e+03,4.547000e+03,4.547000e+03,4.547000e+03,4.547000e+03,4.547000e+03,4.547000e+03,4547.000000
mean,4.375456e-17,-7.578914e-17,-1.859569e-16,1.074331e-16,7.031982e-17,3.125325e-18,-2.500260e-17,1.100583e-14,-1.061048e-15,-1.875195e-16,-4.219189e-16,0.000000
std,1.000110e+00,1.000110e+00,1.000110e+00,1.000110e+00,1.000110e+00,1.000110e+00,1.000110e+00,1.000110e+00,1.000110e+00,1.000110e+00,1.000110e+00,1.000110
min,-2.601640e+00,-1.574850e+00,-2.187981e+00,-1.016149e+00,-1.249640e+00,-1.658828e+00,-1.922645e+00,-2.502995e+00,-3.101295e+00,-2.087929e+00,-2.081885e+00,-0.567276
25%,-6.244539e-01,-6.590826e-01,-4.767391e-01,-7.668696e-01,-5.090657e-01,-7.653129e-01,-6.828475e-01,-7.923970e-01,-6.746533e-01,-6.677624e-01,-8.319369e-01,-0.567276
50%,-1.681801e-01,-2.927757e-01,-6.604106e-02,-4.968166e-01,-2.527131e-01,-9.517668e-02,3.309205e-02,6.455010e-02,-5.243745e-02,-1.943736e-01,-1.652981e-01,-0.567276
75%,3.641393e-01,3.787871e-01,4.815563e-01,5.626223e-01,2.315085e-01,6.308042e-01,6.966458e-01,7.550517e-01,6.319999e-01,4.818961e-01,6.680005e-01,-0.567276
max,6.599881e+00,7.582824e+00,9.174664e+00,1.252805e+01,1.581205e+01,1.442444e+01,5.655837e+00,1.459310e+01,4.925289e+00,9.949671e+00,3.667875e+00,1.762810

In [12]:
model = LinearRegression()
model.fit(X_train_scaled, y_train)

y_pred = model.predict(X_train)