In [12]:
import numpy as np
import pandas as pd

##### applymap()
>method only works on a pandas dataframe where function is applied on every element individually.

##### apply()
>method can be applied both to series and dataframes where function can be applied both series and individual elements based on the            type of function provided.

##### map():
>method only works on a pandas series where type of operation to be applied depends on argument passed as a function, dictionary or a list.

##### Creating DataFrame

In [13]:
data = {'name': ['Jason', 'Molly', 'Tina', 'Jake', 'Amy'], 
        'year': [2012, 2012, 2013, 2014, 2014], 
        'reports': [4, 24, 31, 2, 3],
        'coverage': [25, 94, 57, 62, 70]}

In [14]:
df = pd.DataFrame(data, index = ['Cochice', 'Pima', 'Santa Cruz', 'Maricopa', 'Yuma'])
df

             name  year  reports  coverage
Cochice     Jason  2012        4        25
Pima        Molly  2012       24        94
Santa Cruz   Tina  2013       31        57
Maricopa     Jake  2014        2        62
Yuma          Amy  2014        3        70

In [15]:
capitalizer = lambda x: x.upper()

In [18]:
#df.id.apply(str)
df.reports.apply(int)

Cochice        4
Pima          24
Santa Cruz    31
Maricopa       2
Yuma           3
Name: reports, dtype: int64

In [48]:
df['name'].apply(capitalizer)

Cochice       JASON
Pima          MOLLY
Santa Cruz     TINA
Maricopa       JAKE
Yuma            AMY
Name: name, dtype: object

In [54]:
df['name'].map(capitalizer)
#df['name'].str.upper()

Cochice       JASON
Pima          MOLLY
Santa Cruz     TINA
Maricopa       JAKE
Yuma            AMY
Name: name, dtype: object

##### Apply a square root function to every single cell in the whole data frame
>applymap() applies a function to every single element in the entire dataframe.

In [26]:
# Drop the string variable so that applymap() can run
df = df.drop('name', axis=1)

In [27]:
# Return the square root of every cell in the dataframe
df.applymap(np.sqrt)

                 year   reports  coverage
Cochice     44.855323  2.000000  5.000000
Pima        44.855323  4.898979  9.695360
Santa Cruz  44.866469  5.567764  7.549834
Maricopa    44.877611  1.414214  7.874008
Yuma        44.877611  1.732051  8.366600

##### Applying A Function Over A Dataframe
>Create a function that multiplies all non-strings by 100

In [28]:
# create a function called times100
def times100(x):
    # that, if x is a string,
    if type(x) is str:
        # just returns it untouched
        return x
    # but, if not, return it multiplied by 100
    elif x:
        return 100 * x
    # and leave everything else
    else:
        return

##### Apply the times100 over every cell in the dataframe

In [29]:
df.applymap(times100)

              year  reports  coverage
Cochice     201200      400      2500
Pima        201200     2400      9400
Santa Cruz  201300     3100      5700
Maricopa    201400      200      6200
Yuma        201400      300      7000