In [2]:
import numpy as np
import pandas as pd

In [10]:
pd.read_csv("../data/nba.csv")

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0
1,Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0
2,John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,NaN
3,R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.0
4,Jonas Jerebko,Boston Celtics,8.0,PF,29.0,6-10,231.0,NaN,5000000.0
...,...,...,...,...,...,...,...,...,...
453,Shelvin Mack,Utah Jazz,8.0,PG,26.0,6-3,203.0,Butler,2433333.0
454,Raul Neto,Utah Jazz,25.0,PG,24.0,6-1,179.0,NaN,900000.0
455,Tibor Pleiss,Utah Jazz,21.0,C,26.0,7-3,256.0,NaN,2900000.0
456,Jeff Withey,Utah Jazz,24.0,C,26.0,7-0,231.0,Kansas,947276.0
457,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
s1 = pd.read_csv("../data/youtubedata.csv.gz")
s1

       Age   Education         Occupation   Relationship   Race     Sex Target
0       39   Bachelors       Adm-clerical  Not-in-family  White    Male  <=50K
1       50   Bachelors    Exec-managerial        Husband  White    Male  <=50K
2       38     HS-grad  Handlers-cleaners  Not-in-family  White    Male  <=50K
3       53        11th  Handlers-cleaners        Husband  Black    Male  <=50K
4       28   Bachelors     Prof-specialty           Wife  Black  Female  <=50K
...    ...         ...                ...            ...    ...     ...    ...
32556   27  Assoc-acdm       Tech-support           Wife  White  Female  <=50K
32557   40     HS-grad  Machine-op-inspct        Husband  White    Male   >50K
32558   58     HS-grad       Adm-clerical      Unmarried  White  Female  <=50K
32559   22     HS-grad       Adm-clerical      Own-child  White    Male  <=50K
32560   52     HS-grad    Exec-managerial           Wife  White  Female   >50K

[32561 rows x 7 columns]

In [9]:
s1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Age           32561 non-null  int64
 1   Education     32561 non-null  object
 2   Occupation    32561 non-null  object
 3   Relationship  32561 non-null  object
 4   Race          32561 non-null  object
 5   Sex           32561 non-null  object
 6   Target        32561 non-null  object
dtypes: int64(1), object(6)
memory usage: 1.7+ MB

In [10]:
s1.isna()

         Age  Education  Occupation  Relationship   Race    Sex  Target
0      False      False       False         False  False  False   False
1      False      False       False         False  False  False   False
2      False      False       False         False  False  False   False
3      False      False       False         False  False  False   False
4      False      False       False         False  False  False   False
...      ...        ...         ...           ...    ...    ...     ...
32556  False      False       False         False  False  False   False
32557  False      False       False         False  False  False   False
32558  False      False       False         False  False  False   False
32559  False      False       False         False  False  False   False
32560  False      False       False         False  False  False   False

[32561 rows x 7 columns]

In [11]:
s1.isnull()

         Age  Education  Occupation  Relationship   Race    Sex  Target
0      False      False       False         False  False  False   False
1      False      False       False         False  False  False   False
2      False      False       False         False  False  False   False
3      False      False       False         False  False  False   False
4      False      False       False         False  False  False   False
...      ...        ...         ...           ...    ...    ...     ...
32556  False      False       False         False  False  False   False
32557  False      False       False         False  False  False   False
32558  False      False       False         False  False  False   False
32559  False      False       False         False  False  False   False
32560  False      False       False         False  False  False   False

[32561 rows x 7 columns]

In [18]:
s1.isnull().values.any()

False