#### generate random data

In [1]:
import numpy as np
import pandas as pd

In [3]:
data7x4 = np.random.randn(7,4)

column_names = [chr(x+65) for x in range(data7x4.shape[1])]
current_date = np.datetime64('today', 'D')
date_range = pd.date_range(current_date,periods=7)

db7x4 = pd.DataFrame(data=data7x4, columns=column_names, index=date_range)
db7x4

                   A         B         C         D
2023-05-27 -0.750640 -0.018801 -0.224152 -1.127068
2023-05-28 -0.287862 -0.065951  0.152961 -0.123665
2023-05-29 -1.035270 -0.125274 -0.811227  1.179696
2023-05-30 -1.750559  1.558652 -1.181132  0.819035
2023-05-31 -0.877456  0.148764  1.379552  1.052836
2023-06-01 -1.090665  0.713048  1.999213  1.408747
2023-06-02 -0.102619 -0.967520  1.040045  0.588300

In [4]:
db7x4.loc['2023-05-28': '2023-05-30']

                   A         B         C         D
2023-05-28 -0.287862 -0.065951  0.152961 -0.123665
2023-05-29 -1.035270 -0.125274 -0.811227  1.179696
2023-05-30 -1.750559  1.558652 -1.181132  0.819035

In [16]:
db7x4.iloc[0]

A   -0.750640
B   -0.018801
C   -0.224152
D   -1.127068
Name: 2023-05-27 00:00:00, dtype: float64