In [1]:
import numpy as np
import pandas as pd

In [51]:
df1 = pd.DataFrame(data=np.random.randint(1, 100, 15).reshape(5,3), columns=['a','b','c'], index=[chr(97+x) for x in range(5)])
df1

    a   b   c
a  30  71  86
b  85  77  98
c  12  44  83
d  38  38  77
e  93  50  33

In [119]:
df2 = pd.DataFrame(np.random.rand(n, 3), columns=list('abc'))
df2

          a         b         c
0  0.669656  0.746009  0.552525
1  0.519498  0.426713  0.820961
2  0.217211  0.758910  0.321097
3  0.379349  0.082811  0.592542
4  0.593676  0.993570  0.565677
5  0.271391  0.799100  0.681954
6  0.063275  0.275124  0.832579
7  0.261151  0.171696  0.814962
8  0.308813  0.783785  0.311892
9  0.466974  0.190239  0.110671

In [56]:
df1.loc['a':'c',['b', 'c']]

    b   c
a  71  86
b  77  98
c  44  83

In [61]:
s1 = pd.Series(
    data=np.random.randint(1, 100, 10), 
    dtype=np.int8, name="Labled Series", 
    index=[chr(97+x) for x in range(10)]
)
s1

a    89
b    47
c    28
d    60
e    46
f    77
g    19
h    37
i    32
j    10
Name: Labled Series, dtype: int8

In [63]:
s2 = pd.Series(np.random.randint(1, 100, 10), name="Numeric Index", dtype=np.int8)
s2

0     8
1    74
2    65
3    76
4    79
5    49
6    27
7    15
8    52
9    12
Name: Numeric Index, dtype: int8

In [64]:
s1.loc['a':'c',]

a    89
b    47
c    28
Name: Labled Series, dtype: int8

In [65]:
s1.index.intersection(['b','e','i'])

Index(['b', 'e', 'i'], dtype='object')

In [66]:
s1.sample(frac=.2)

e    46
f    77
Name: Labled Series, dtype: int8

In [76]:
s1.sample(n=5, replace=False)

f    77
a    89
c    28
h    37
g    19
Name: Labled Series, dtype: int8

In [89]:
s1[s1 > 50]

a    89
d    60
f    77
Name: Labled Series, dtype: int8

In [102]:
s1.get( (s1 > 80) | (s1 < 20) )

a    89
g    19
j    10
Name: Labled Series, dtype: int8

In [108]:
s1

a    89
b    47
c    28
d    60
e    46
f    77
g    19
h    37
i    32
j    10
Name: Labled Series, dtype: int8

In [113]:
s1[ ~ ( s1 < 20 ) ]

a    89
b    47
c    28
d    60
e    46
f    77
h    37
i    32
Name: Labled Series, dtype: int8

In [114]:
s1.mask( s1 > 20 )

a     NaN
b     NaN
c     NaN
d     NaN
e     NaN
f     NaN
g    19.0
h     NaN
i     NaN
j    10.0
Name: Labled Series, dtype: float64

In [115]:
s1

a    89
b    47
c    28
d    60
e    46
f    77
g    19
h    37
i    32
j    10
Name: Labled Series, dtype: int8

In [120]:
s1

a    89
b    47
c    28
d    60
e    46
f    77
g    19
h    37
i    32
j    10
Name: Labled Series, dtype: int8