In [1]:
import numpy as np
import pandas as pd

In [2]:
n1 = pd.DataFrame([[1,2,3], [4,5,6], [7,8,9]], columns=['a', 'b', 'c']).squeeze('columns')
n1

   a  b  c
0  1  2  3
1  4  5  6
2  7  8  9

In [3]:
pokemons_one = pd.read_csv("../data/pokemon.csv", usecols=["Name"]).squeeze("columns")
pokemons_one

0                  Bulbasaur
1                    Ivysaur
2                   Venusaur
3      VenusaurMega Venusaur
4                 Charmander
               ...
795                  Diancie
796      DiancieMega Diancie
797      HoopaHoopa Confined
798       HoopaHoopa Unbound
799                Volcanion
Name: Name, Length: 800, dtype: object

In [4]:
google_stock_db = pd.read_csv("../data/google_stock_price.csv")
google_stock_db

      Stock Price
0           50.12
1           54.10
2           54.65
3           52.38
4           52.95
...           ...
3007       772.88
3008       771.07
3009       773.18
3010       771.61
3011       782.22

[3012 rows x 1 columns]

In [5]:
google = pd.read_csv("../data/google_stock_price.csv").squeeze(1)
google

0        50.12
1        54.10
2        54.65
3        52.38
4        52.95
         ...
3007    772.88
3008    771.07
3009    773.18
3010    771.61
3011    782.22
Name: Stock Price, Length: 3012, dtype: float64

In [6]:
google.head()

0    50.12
1    54.10
2    54.65
3    52.38
4    52.95
Name: Stock Price, dtype: float64

In [7]:
google.tail()

3007    772.88
3008    771.07
3009    773.18
3010    771.61
3011    782.22
Name: Stock Price, dtype: float64

In [8]:
google.describe()

count    3012.000000
mean      334.310093
std       173.187205
min        49.950000
25%       218.045000
50%       283.315000
75%       443.000000
max       782.220000
Name: Stock Price, dtype: float64

In [9]:
google.info()

<class 'pandas.core.series.Series'>
RangeIndex: 3012 entries, 0 to 3011
Series name: Stock Price
Non-Null Count  Dtype
--------------  -----
3012 non-null   float64
dtypes: float64(1)
memory usage: 23.7 KB

In [10]:
google.is_monotonic_increasing

False

In [11]:
google.is_monotonic_decreasing

False

In [12]:
dict(n1[['a']].squeeze())

{0: 1, 1: 4, 2: 7}

In [13]:
google.sort_values(ascending=True)

11       49.95
9        50.07
0        50.12
10       50.70
12       50.74
         ...
3010    771.61
3007    772.88
3009    773.18
2859    776.60
3011    782.22
Name: Stock Price, Length: 3012, dtype: float64

In [14]:
google.sort_values(ascending=True, ignore_index=True)

0        49.95
1        50.07
2        50.12
3        50.70
4        50.74
         ...
3007    771.61
3008    772.88
3009    773.18
3010    776.60
3011    782.22
Name: Stock Price, Length: 3012, dtype: float64

In [15]:
pokemons_one.sort_values()

510                  Abomasnow
511    AbomasnowMega Abomasnow
68                        Abra
392                      Absol
393            AbsolMega Absol
                ...
632                    Zoroark
631                      Zorua
46                       Zubat
695                   Zweilous
794           Zygarde50% Forme
Name: Name, Length: 800, dtype: object

In [16]:
pokemons_one.sort_values(ascending=True, inplace=False)

510                  Abomasnow
511    AbomasnowMega Abomasnow
68                        Abra
392                      Absol
393            AbsolMega Absol
                ...
632                    Zoroark
631                      Zorua
46                       Zubat
695                   Zweilous
794           Zygarde50% Forme
Name: Name, Length: 800, dtype: object

In [17]:
"Zorua" in pokemons_one.values

True

In [18]:
pokemons_one[0:5]

0                Bulbasaur
1                  Ivysaur
2                 Venusaur
3    VenusaurMega Venusaur
4               Charmander
Name: Name, dtype: object

In [19]:
pokemons_one[[1,3,5]]

1                  Ivysaur
3    VenusaurMega Venusaur
5               Charmeleon
Name: Name, dtype: object

In [20]:
sa = pd.Series([1, 2, 3], index=list('abc'))
dfa = sa.copy()

In [21]:
sa.b

2

In [32]:
pd.read_csv("../data/pokemon.csv", index_col='Name').squeeze()

,#,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
Name,,,,,,,,,,,,
Bulbasaur,1,Grass,Poison,318,45,49,49,65,65,45,1,False
Ivysaur,2,Grass,Poison,405,60,62,63,80,80,60,1,False
Venusaur,3,Grass,Poison,525,80,82,83,100,100,80,1,False
VenusaurMega Venusaur,3,Grass,Poison,625,80,100,123,122,120,80,1,False
Charmander,4,Fire,NaN,309,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...
Diancie,719,Rock,Fairy,600,50,100,150,100,150,50,6,True
DiancieMega Diancie,719,Rock,Fairy,700,50,160,110,160,110,110,6,True
HoopaHoopa Confined,720,Psychic,Ghost,600,80,110,60,150,130,70,6,True
HoopaHoopa Unbound,720,Psychic,Dark,680,80,160,60,170,130,80,6,True
Volcanion,721,Fire,Water,600,80,110,120,130,90,70,6,True

In [41]:
pokemons_labeled = pd.read_csv("../data/pokemon.csv", index_col='Name')
pokemons_labeled

,#,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
Name,,,,,,,,,,,,
Bulbasaur,1,Grass,Poison,318,45,49,49,65,65,45,1,False
Ivysaur,2,Grass,Poison,405,60,62,63,80,80,60,1,False
Venusaur,3,Grass,Poison,525,80,82,83,100,100,80,1,False
VenusaurMega Venusaur,3,Grass,Poison,625,80,100,123,122,120,80,1,False
Charmander,4,Fire,NaN,309,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...
Diancie,719,Rock,Fairy,600,50,100,150,100,150,50,6,True
DiancieMega Diancie,719,Rock,Fairy,700,50,160,110,160,110,110,6,True
HoopaHoopa Confined,720,Psychic,Ghost,600,80,110,60,150,130,70,6,True
HoopaHoopa Unbound,720,Psychic,Dark,680,80,160,60,170,130,80,6,True
Volcanion,721,Fire,Water,600,80,110,120,130,90,70,6,True

In [45]:
pokemons_type1 = pokemons_labeled['Type 1']
pokemons_type1

Name
Bulbasaur                  Grass
Ivysaur                    Grass
Venusaur                   Grass
VenusaurMega Venusaur      Grass
Charmander                  Fire
                          ...
Diancie                     Rock
DiancieMega Diancie         Rock
HoopaHoopa Confined      Psychic
HoopaHoopa Unbound       Psychic
Volcanion                   Fire
Name: Type 1, Length: 800, dtype: object

In [50]:
pokemons_type1[0]

'Grass'

In [51]:
pokemons_type1[0:5]

Name
Bulbasaur                Grass
Ivysaur                  Grass
Venusaur                 Grass
VenusaurMega Venusaur    Grass
Charmander                Fire
Name: Type 1, dtype: object

In [52]:
pokemons_type1['Bulbasaur']

'Grass'

In [49]:
pokemons_type1['Charmander':'Squirtle']

Name
Charmander                    Fire
Charmeleon                    Fire
Charizard                     Fire
CharizardMega Charizard X     Fire
CharizardMega Charizard Y     Fire
Squirtle                     Water
Name: Type 1, dtype: object

In [65]:
pokemons_type1[pokemons_type1.index.str.startswith('Pi')]

Name
Pidgey                   Normal
Pidgeotto                Normal
Pidgeot                  Normal
PidgeotMega Pidgeot      Normal
Pikachu                Electric
Pinsir                      Bug
PinsirMega Pinsir           Bug
Pichu                  Electric
Pineco                      Bug
Piloswine                   Ice
Piplup                    Water
Pignite                    Fire
Pidove                   Normal
Name: Type 1, dtype: object

In [67]:
pokemons_type1[pokemons_type1.index == 'Pikachu']

Name
Pikachu    Electric
Name: Type 1, dtype: object