In [1]:
import pandas as pd

In [35]:
n1 = pd.DataFrame([[1,2,3], [4,5,6], [7,8,9]], columns=['a', 'b', 'c']).squeeze('columns')
n1

   a  b  c
0  1  2  3
1  4  5  6
2  7  8  9

In [20]:
pokemons = pd.read_csv("../data/pokemon.csv", usecols=["Name"]).squeeze("columns")
pokemons

0                  Bulbasaur
1                    Ivysaur
2                   Venusaur
3      VenusaurMega Venusaur
4                 Charmander
               ...
795                  Diancie
796      DiancieMega Diancie
797      HoopaHoopa Confined
798       HoopaHoopa Unbound
799                Volcanion
Name: Name, Length: 800, dtype: object

In [21]:
google_stock_db = pd.read_csv("../data/google_stock_price.csv")
google_stock_db

      Stock Price
0           50.12
1           54.10
2           54.65
3           52.38
4           52.95
...           ...
3007       772.88
3008       771.07
3009       773.18
3010       771.61
3011       782.22

[3012 rows x 1 columns]

In [24]:
google = pd.read_csv("../data/google_stock_price.csv").squeeze(1)
google

0        50.12
1        54.10
2        54.65
3        52.38
4        52.95
         ...
3007    772.88
3008    771.07
3009    773.18
3010    771.61
3011    782.22
Name: Stock Price, Length: 3012, dtype: float64

In [25]:
google.head()

0    50.12
1    54.10
2    54.65
3    52.38
4    52.95
Name: Stock Price, dtype: float64

In [26]:
google.tail()

3007    772.88
3008    771.07
3009    773.18
3010    771.61
3011    782.22
Name: Stock Price, dtype: float64

In [27]:
google.describe()

count    3012.000000
mean      334.310093
std       173.187205
min        49.950000
25%       218.045000
50%       283.315000
75%       443.000000
max       782.220000
Name: Stock Price, dtype: float64

In [28]:
google.info()

<class 'pandas.core.series.Series'>
RangeIndex: 3012 entries, 0 to 3011
Series name: Stock Price
Non-Null Count  Dtype
--------------  -----
3012 non-null   float64
dtypes: float64(1)
memory usage: 23.7 KB

In [32]:
google.is_monotonic_increasing

False

In [33]:
google.is_monotonic_decreasing

False

In [41]:
dict(n1[['a']].squeeze())

{0: 1, 1: 4, 2: 7}

In [44]:
pokemons.sort_values()

510                  Abomasnow
511    AbomasnowMega Abomasnow
68                        Abra
392                      Absol
393            AbsolMega Absol
                ...
632                    Zoroark
631                      Zorua
46                       Zubat
695                   Zweilous
794           Zygarde50% Forme
Name: Name, Length: 800, dtype: object

In [45]:
pokemons.sort_values(ascending=True, inplace=False)

510                  Abomasnow
511    AbomasnowMega Abomasnow
68                        Abra
392                      Absol
393            AbsolMega Absol
                ...
632                    Zoroark
631                      Zorua
46                       Zubat
695                   Zweilous
794           Zygarde50% Forme
Name: Name, Length: 800, dtype: object

In [47]:
google.sort_values(ascending=True)

11       49.95
9        50.07
0        50.12
10       50.70
12       50.74
         ...
3010    771.61
3007    772.88
3009    773.18
2859    776.60
3011    782.22
Name: Stock Price, Length: 3012, dtype: float64

In [49]:
google.sort_values(ascending=True, ignore_index=True)

0        49.95
1        50.07
2        50.12
3        50.70
4        50.74
         ...
3007    771.61
3008    772.88
3009    773.18
3010    776.60
3011    782.22
Name: Stock Price, Length: 3012, dtype: float64