In [1]:
import pandas as pd

In [5]:
pokemons = pd.read_csv("../data/pokemon.csv", usecols=["Name"]).squeeze("columns")
pokemons

0                  Bulbasaur
1                    Ivysaur
2                   Venusaur
3      VenusaurMega Venusaur
4                 Charmander
               ...
795                  Diancie
796      DiancieMega Diancie
797      HoopaHoopa Confined
798       HoopaHoopa Unbound
799                Volcanion
Name: Name, Length: 800, dtype: object

In [7]:
google_stock_db = pd.read_csv("../data/google_stock_price.csv")
google_stock_db

      Stock Price
0           50.12
1           54.10
2           54.65
3           52.38
4           52.95
...           ...
3007       772.88
3008       771.07
3009       773.18
3010       771.61
3011       782.22

[3012 rows x 1 columns]