### Vectorized Operations
- not necessary to write loops for element-by-element operations
- pandas' Series objects can be passed to **_MOST_** NumPy functions

documentation: http://pandas.pydata.org/pandas-docs/stable/basics.html

In [1]:
import pandas as pd
import numpy as np

In [14]:
my_dictionary = {'a' : 45., 'b' : -19.5, 'c' : 44}
my_series = pd.Series(my_dictionary)
my_series

a    45.0
b   -19.5
c    44.0
dtype: float64

###### add Series without loop

In [15]:
my_series + my_series

a    90.0
b   -39.0
c    88.0
dtype: float64

In [16]:
my_series

a    45.0
b   -19.5
c    44.0
dtype: float64

##### Series within arithmetic expression

In [17]:
my_series + 5

a    50.0
b   -14.5
c    49.0
dtype: float64

##### Series used as argument to NumPy function

In [18]:
np.exp(my_series)

a    3.493427e+19
b    3.398268e-09
c    1.285160e+19
dtype: float64

A key difference between Series and ndarray is that operations between Series automatically align the data based on
label. Thus, you can write computations without giving consideration to whether the Series involved have the same labels.

In [19]:
my_series[1:]

b   -19.5
c    44.0
dtype: float64

In [20]:
my_series[:-1]

a    45.0
b   -19.5
dtype: float64

In [21]:
my_series[1:] + my_series[:-1]

a     NaN
b   -39.0
c     NaN
dtype: float64

### Apply Python functions on an element-by-element basis

In [22]:
def multiply_by_ten (input_element):
    return input_element * 10.0

In [23]:
my_series.map(multiply_by_ten)

a    450.0
b   -195.0
c    440.0
dtype: float64

### Vectorized string methods
Series is equipped with a set of string processing methods that make it easy to operate on each element of the array. Perhaps most importantly, these methods exclude missing/NA values automatically.

In [24]:
series_of_strings = pd.Series(['A', 'B', 'C', 'Aaba', 'Baca', np.nan, 'CABA', 'dog', 'cat'])

In [25]:
series_of_strings.str.lower()

0       a
1       b
2       c
3    aaba
4    baca
5     NaN
6    caba
7     dog
8     cat
dtype: object