In [1]:
import pandas as pd
import numpy as np

In [ ]:
# google_db = pd.read_csv("../../../data/google_stock_price.csv")

In [61]:
pokemon_db = pd.read_csv("../../data/pokemon.csv")
pokemon_db.head(5)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

In [9]:
pokemon_db['Name'] == 'Bulbasaur'

0       True
1      False
2      False
3      False
4      False
       ...
795    False
796    False
797    False
798    False
799    False
Name: Name, Length: 800, dtype: bool

In [13]:
pokemon_db['Name'].eq('Bulbasaur') # == Equal operator

0       True
1      False
2      False
3      False
4      False
       ...
795    False
796    False
797    False
798    False
799    False
Name: Name, Length: 800, dtype: bool

In [18]:
pokemon_db['Name'].ne('DiancieMega Diancie').any()

True

In [62]:
pokemon_db[pokemon_db.get('Generation').le(2)].iloc[:5]

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

In [63]:
pokemon_attack = pokemon_db['Attack']
pokemon_attack.loc[:5]

0     49
1     62
2     82
3    100
4     52
5     64
Name: Attack, dtype: int64

In [67]:
pokemon_attack.loc[pokemon_attack.isin([105, 106])].iloc[:5]

62     105
77     105
96     105
106    105
115    105
Name: Attack, dtype: int64

In [36]:
pokemon_attack.loc[~ pokemon_attack.gt(100)]

0       49
1       62
2       82
3      100
4       52
      ...
788     69
790     30
791     70
794    100
795    100
Name: Attack, Length: 630, dtype: int64

In [45]:
mask = (~ pokemon_attack.gt(100)) & pokemon_attack.isin([101, 102, 103, 105])

In [46]:
pokemon_attack[mask]

Series([], Name: Attack, dtype: int64)

In [50]:
pokemon_attack[pokemon_attack.isin([130, 104, 103])]

7      130
8      104
12     103
74     130
107    130
120    130
147    130
228    130
235    130
270    130
310    130
392    130
402    104
420    130
437    104
493    130
524    130
551    103
602    103
710    130
Name: Attack, dtype: int64

In [56]:
s1 = pd.Series(range(-4, 5))
s1

0   -4
1   -3
2   -2
3   -1
4    0
5    1
6    2
7    3
8    4
dtype: int64

In [57]:
s1[s1 > 0]

5    1
6    2
7    3
8    4
dtype: int64

In [58]:
s1[s1 < 0]

0   -4
1   -3
2   -2
3   -1
dtype: int64

In [70]:
pokemon_db.iloc[:3]

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False

In [75]:
pokemon_attack.describe()

count    800.000000
mean      79.001250
std       32.457366
min        5.000000
25%       55.000000
50%       75.000000
75%      100.000000
max      190.000000
Name: Attack, dtype: float64

In [84]:
pokemon_attack.where(pokemon_attack > 180)

0     NaN
1     NaN
2     NaN
3     NaN
4     NaN
       ..
795   NaN
796   NaN
797   NaN
798   NaN
799   NaN
Name: Attack, Length: 800, dtype: float64

In [86]:
pokemon_db['Name'].where(pokemon_db['Name'].str.contains("Venusaur"), pokemon_db['Name'].str.upper())

0                  BULBASAUR
1                    IVYSAUR
2                   Venusaur
3      VenusaurMega Venusaur
4                 CHARMANDER
               ...
795                  DIANCIE
796      DIANCIEMEGA DIANCIE
797      HOOPAHOOPA CONFINED
798       HOOPAHOOPA UNBOUND
799                VOLCANION
Name: Name, Length: 800, dtype: object